<section class="section products">
    <app-header></app-header>
    <div class="d1">
        <app-side-menu [selected]="'products'"></app-side-menu>
        <div class="d2">
            <div class="isload" *ngIf="isLoading; else content">
                <app-loading-spinner></app-loading-spinner>
            </div>
            <ng-template #content>
                <app-stock [stockList]="stockList"></app-stock>
                <app-message #messageComp title="Erro ao carregar dados!"
                    message="Ocorreu um problema ao buscar as informações. Por favor, verifique sua conexão com a internet e tente novamente. Se o erro persistir, entre em contato com o suporte."></app-message>
            </ng-template>
        </div>
    </div>
</section>