.itens-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: start;
  overflow-x: hidden;
  height: 90%;
  width: 100%;
  padding: 10px;
}

.selection-container{
  position: relative;
  width: 100%;
}

.item {
  margin-top: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  width: 20%;
  border-radius: 5px;
  background-color: white;
  aspect-ratio: 1/1;

  &:hover {
    transition: scale 0.1s linear;
    scale: 1.02;
    z-index: 20;
    box-shadow: 1px 1px 10px 1px #00000025;
  }
}

.item img {
  width: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
}

.selecionado {
  margin-top: 20px;
  text-align: center;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.item-quantity {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
  top: 2px;
  right: 2px;
  background: #194267e6;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 50%;
  font-size: 14px;

  animation: fade 0.1s linear;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}

.filters input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}