/* Container de fundo com gradiente e centralização */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #4e54c8c5, #8f94fb);
  padding: 1rem;
  flex-wrap: wrap;
  animation: fadeIn 1s ease-in forwards;
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Cartão de login/registro */
.login-card {
  opacity: 0;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  overflow-y: auto;
  height: max-content;
  animation: slideUp 0.5s ease-out 0.2s forwards;
}

.register-mode{
  max-width: 800px;
  height: max-content;
}
.register-form{
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
}
.register-form .input-group{
  width: 45%;

}
/* Título */
.login-card h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #333;
}

/* Grupo de inputs */
.input-group {
  margin-bottom: 1rem;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
  font-size: 0.9rem;
}

.input-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
  width: -webkit-fill-available;
}
button:disabled{
  opacity: 0.5;
}

.input-group input[type="checkbox"]{
  width: max-content;
}

.input-group input:focus {
  border-color: #4e54c8;
}

/* Mensagens de erro */
.error-message {
  color: red;
  font-size: 0.85rem;
  margin-top: 0.3rem;
  animation: fadeIn 0.2s linear;
}
.error-message p{
  text-align: start;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }100%{
    opacity: 1;
  }
}

@keyframes shake {
  
}



/* Botões */
.btn {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-login {
  background: #4e54c8;
  color: #fff;
}

.btn-login:hover {
  background: #3d44a5;
}

.btn-register {
  background: #8f94fb;
  color: #fff;
}

.btn-register:hover {
  background: #7a81e8;
}

.btn-signup {
  background: none;
  border: none;
  color: #4e54c8;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
}

/* Área de cadastro */
.signup-option {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #666;
}

/* Responsividade */
@media (max-width: 600px) {
  
}
