<div class="sale-summary">
    <ul>      
      @for (item of productSales; track $index) {
        <li>
          <div>
            <input class="qtd-input" type="number" value="{{item.quantity}}" (change)="updateQuantity($index, $event)">
            {{ item.product.name }}
          </div>
          <div>
            R$ {{ (item.product.price * item.quantity).toFixed(2).replace('.', ',') }}
            <button class="btn-remove" (click)="remove($index)">✖</button>
          </div>
        </li>
      }
    </ul>
    <div>
      <div>
        <h4>{{productSales.length}} itens</h4>
        <h3>Total: R$ {{ subtotal.toFixed(2).replace('.', ',') }}</h3>
      </div>
      <button class="btn-payment" (click)="proceedToPayment()">Ir para pagamento</button>
    </div>
  </div>
  