.stock-container {
  padding: 20px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.stock-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #f9f9f9;
}

.stock-table th,
.stock-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.stock-table th {
  background-color: #194267;
  color: white;
}

.stock-table td img {
  margin-right: 10px;
  border-radius: 4px;
  mix-blend-mode: multiply;

}

.stock-table td {
  vertical-align: middle;
}

.stock-table tr:hover {
  background-color: #f1f1f1;
}


/*estilo do form*/
.add-product-form {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.add-product-form form {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;

}

.add-product-form h3 {
  text-align: center;
  margin-bottom: 20px;
}

.add-product-form .form-group {
  margin-bottom: 15px;
  width: 250px;
  height: max-content;
}

.add-product-form label {
  display: block;
  font-weight: bold;
}

.add-product-form button[type="submit"] {
  margin: 0 40%;
  height: max-content;
}

.add-product-form button:hover {
  background-color: #333;
}

.add-product-form input[type="file"] {
  cursor: pointer;
  width: max-content;
}
.add-product-form .form-group:nth-child(1){
  width: 300px;
}

.add-product-form input[type="file"]::-webkit-file-upload-button {
  border: none;
  background-color: transparent;
  cursor: pointer;

}

.add-product-form input[type="file"]:hover {
  background-color: #333;
  color: #ddd;

  &::-webkit-file-upload-button{
    color: #ddd;
  }
}


.new-category-container {
  margin-top: 10px;
  width: 100%;
  animation: fadeIn 0.5s;
  transform: translateX(5px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

input, select, button{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
}

button{
  color: #ddd;
  background-color: #194267;
  &:hover{
    cursor: pointer;
  }
}